@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@500;600;700;800;900&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --cream: hsl(30, 38%, 92%);
  --darkgrey: hsl(228, 12%, 48%);
  --darkgreen: hsl(158, 36%, 37%);
  --bluishblack: hsl(212, 21%, 14%);
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--cream);
  text-align: left;
  min-height: 100vh;
}

h1 {
  color: var(--bluishblack);
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
}

p,
span {
  color: var(--darkgrey);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.main-container {
  background-color: var(--white);
  border-radius: 8px;
  margin: 30px 15px;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.main-container .image-section picture img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.main-container .info-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.main-container .info-section .type {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
}

.main-container .info-section .title {
  padding-top: 12px;
  font-size: 2rem;
}

.main-container .info-section .description {
  padding: 12px 0 18px;
  font-size: 1rem;
}

.main-container .info-section .price-container {
  display: flex;
  align-items: center;
  justify-items: center;
}

.main-container .info-section .price-container .price {
  color: var(--darkgreen);
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  padding-right: 18px;
}

.main-container .info-section .price-container .old-price {
  font-size: 0.8rem;
  text-decoration: line-through;
}

.main-container .info-section .add-button {
  margin-top: 12px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--darkgreen);
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container .info-section .add-button img {
  padding-right: 8px;
}

.main-container .info-section .add-button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

@media screen and (min-width: 992px) {

  body {
    background-color: var(--cream);
    text-align: left;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-container {
    margin: auto;
    min-width: 450px;
    width: 35%;

    display: flex;
    flex-direction: row;
  }

  .main-container .image-section picture img {
    height: 100%;
    border-radius: 8px 0 0 8px;
    object-fit: cover;
  }

  .main-container .info-section {
    padding: 26px 24px;
    max-width: 50%;
  }

  .main-container .info-section .title {
    padding-top: 16px;
    font-size: 1.75rem;
  }

  .main-container .info-section .description {
    padding: 16px 0 24px;
    font-size: 0.7rem;
  }

  .main-container .info-section .price-container .price {
    font-size: 1.7rem;
  }

  .main-container .info-section .add-button {
    margin-top: 16px;
    padding: 12px;
  }


}